{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
</head>
<body>
   <div class="container">
    <div class="error-page">
        <h1>404</h1> 
        <p>Uzr biror xatolik yuz berdi Iltimos qayta urinib ko'ring yoki sahifaga qayting</p>
        <a href="https://t.me/+4sG_QMIKazRiMjgy">Muommo haqida xabar berish</a>
      </div>
         </div>
</body>
</html>
