{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login Page</title>
</head>
<body>
    <div class="background"></div>
    <div class="overlay"></div>

    <div class="login-container">
        {% if messages %}
        <div class="alert">
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
        <img src="{% static 'images/1.png' %}" alt="Avatar">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Login" required>
            <input type="password" name="password" placeholder="Parol" required>
            <button type="submit">Kirish</button>
        </form>
        
    </div>
</body>
</html>
